HTML, BODY, DIV
{
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #ccc;
    background-color: #333;
}

.canvasHolder {
    border: 1px solid #00ff00;
    float: left;
    padding: 1px;
}

#player_list {
    border: 1px solid #ff0000;
}

.clear: {
    font-size: 0;
    line-height: 0;
    clear: both;
    overflow: hidden;
}
#players_on_stage .live {
    background-color: green;
}
#players_on_stage .dead {
    background-color: red;
}
#players_on_stage .none {
    background-color: gray;
}

.player-color {
    width: 20px;
    height: 16px;
    border: 1px solid white;
    display: inline-block;
}

#log {
    height: 350px;
      overflow: auto;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.musicOn {
    border-style: inset;
}